.header {
    background-color: #ffb93f;
    padding: 30px;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid black;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .date {
    display: flex;
    flex-direction: row;
  }

  .input {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  // .description
  .project_name,
  .add_member
  {
    width: 80%;
    margin-top: 20px;
  }

  .start_at {
    width: 50%;
    margin: 10px 0px;
    margin-left: 45px;
  }

  .deadline {
    margin: 10px 0px;
    width: 60%;
  }

  .btn_container>div {
    display: flex;
    justify-content: flex-end;
  }

  .button {
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
    font-weight: 600;
    color: white;
    background-color: #09f289;
    border-style: none;
    font-size: 15px;
  }

  .button:hover {
    background-color: chartreuse;
    transition: linear 0.1s;
    cursor: pointer;
  }

  .button:active {
    background-color: mediumseagreen;
    cursor: pointer;
  }


.member-exist{
  width: 500px;
}

.delete{
  margin-left: 50%;
}

.example-card {
  width: 500px;
  display: flex;
  justify-content: space-between
}

#member{
  margin-left: 10%;
}

#host{
  margin-left: 10%;
}

.example-card-header{
  width: fit-content;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-card {
  justify-content: center;
  margin-left: 10%;
  width: 375px;
  display: flex;
  justify-content: space-between
}
