Huy Minh //Sidebar

.sidebar {
  height: 100%;
  border-right: 1px solid #c4c4c4;
}

.logo_container {
  display: flex;
  justify-content: center;
}

img {
  width: 100px;
  height: auto;
}

.menu {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 20px 30px;
  font-size: 28px;
}

.btn_container {
  display: flex;
  flex-direction: column;
}

p {
  margin: auto 0;
  font-size: 18px;
  padding-left: 10px;
}

.icon {
  margin: auto 0;
  padding-left: 10px;
}

//Button effects
button:hover {
  cursor: pointer;
}

.button:active {
  cursor: pointer;
}

.button {
  margin: 10px 10px;
  height: 50px;
  border-style: none;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  background-color: white;
  color: rgba($color: black, $alpha: 0.4);
}

.button:hover {
  background-color: #ffcf7b;
  transition: linear 0.1s;
  color: white;
  font-weight: 600;
}

// .button:focus {
//   background-color: #ffb93f;
//   color: white;
//   font-weight: 600;
// }

.is-chosen {
  background-color: #ffb93f;
  color: white;
  font-weight: 600;
}

//Logout button
.logout_button:hover {
  background-color: #dfdfdf;
  transition: linear 0.1s;
  color: #ff544f;
}

.logout_button:active {
  background-color: #d2d2d2;
  color: #ff544f;
}


//Responsive
@media screen and (max-width: 1300px) {
  p {
    font-size: 12px;
  }

  .menu {
    font-size: 15px;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  p {
    display: none;
  }

  .menu {
    font-size: 15px;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  img {
    width: 80px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  p {
    display: none;
  }

  .icon {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .menu {
    font-size: 15px;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}
