Huy Minh //Sidebar

.sidebar {
  height: 100%;
  background-color: #ffb93f;
}

.logo_container {
  display: flex;
  justify-content: center;
}

img {
  width: 60%;
  height: 60%;
}

.menu {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 20px 30px;
  font-size: 28px;
}

.btn_container {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 10px 10px;
  height: 50px;
  border-style: none;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  background-color: white;
}

p {
  margin: auto 0;
  font-size: 2.2vh;
}

.icon {
  margin: auto 0.5vw;
  font-size: 3vh;
}

//Button effects
button:hover {
  cursor: pointer;
}

button:active {
  cursor: pointer;
}

.button {
  color: rgba($color: black, $alpha: 0.5)
}

.button:hover {
  background-color: #ffcf7b;
  transition: linear 0.1s;
  color: white;
  font-weight: 600;
}

.button:focus {
  background-color: #ffb93f;
  color: white;
  font-weight: 600;
}

.logout_button {
  margin-top: 10vh;
  color: rgba($color: black, $alpha: 0.5);
}

.logout_button:hover {
  background-color: #dfdfdf;
  transition: linear 0.1s;
  color: #ff544f;
}

.logout_button:active {
  background-color: #d2d2d2;
  color: #ff544f;
}
