<div class="sidebar">
  <div class="logo_container">
    <img src="../assets/Logo.png" id="" alt="" />
  </div>
  <div class="menu">MENU</div>
    <div class="btn_container">
      <button class="button">
        <mat-icon class="icon">format_list_bulleted</mat-icon>

        <p>Projects</p>
      </button>
      <button class="button">
        <mat-icon class="icon">description</mat-icon>
        <p>My works</p>
      </button>
      <button class="button">
        <mat-icon class="icon">star</mat-icon>
        <p>Starred</p>
      </button>
      <button class="button">
        <mat-icon class="icon">person</mat-icon>
        <p>Personal</p>
      </button>
      <button class="button">
        <mat-icon class="icon">groups</mat-icon>
        <p>Groups</p>
      </button>
      <button class="button">
        <mat-icon class="icon">chat</mat-icon>
        <p>Messages</p>
      </button>
      <button class="button">
        <mat-icon class="icon">settings</mat-icon>
        <p>Setting</p>
      </button>
  </div>
</div>
