<div class="container">
  <app-side-bar></app-side-bar>
  <div class="main">
    <app-nav-bar></app-nav-bar>
    <div class="title_container">
      <div>
        <div class="title">PROJECTS</div>
        <div class="sort">Sort by</div>
      </div>
      <div>
        <div class="description">All available projects here</div>
        <select class="selector">
          <option>Alphabet</option>
          <option>Star</option>
          <option>Date</option>
        </select>
      </div>
    </div>
  </div>
</div>
