<div class="title-container">
  <div class="form">
    <div id="title">PROJECTS</div>
    <div style="height: 10px"></div>
    <div id="description">All available projects here</div>
  </div>
  <div class="form">
    <mat-form-field class="selector" appearance="fill">
      <mat-label class="sort_by">SORT BY</mat-label>
      <mat-select>
        <mat-option value="option1" (click)="sortByAlphabet()"
          >Alphabet</mat-option
        >
        <mat-option value="option2">Date</mat-option>
        <!-- <mat-option value="option3" ()>Starred</mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="project">
  <ng-container *ngFor="let project of projects | async">
    <div class="project_box" *ngIf="!project.disable">
      <div class="project_title">
        <div class="project_name">
          <p>{{ project.projectName }}</p>
        </div>
        <div class="project_description">{{ project.projectDescription }}</div>
      </div>
      <div class="footer_box">
        <div class="date">
          <div class="create_date">Create Date: {{ project.startAt }}</div>
          <div class="setting">
            <div class="deadline">Deadline: {{ project.deadline }}</div>
            <div class="icon">
              <div class="star-icon">
                <span
                  class="material-symbols-rounded"
                  [ngClass]="{ yellow: project.isStarred }"
                  (click)="updateStarred(project)"
                >
                  star
                </span>
              </div>
              <mat-icon class="expand-icon" [matMenuTriggerFor]="menu"
                >expand_more</mat-icon
              >
              <mat-menu #menu="matMenu">
                <button (click)="navTask(project)" mat-menu-item>
                  Join Project
                </button>
                <button
                  (click)="openUpdateDialog(project)"
                  mat-menu-item
                  [disabled]="project.owner._id != this.user._id"
                >
                  Update
                </button>
                <button
                  (click)="deleteProject(project)"
                  mat-menu-item
                  [disabled]="project.owner._id != this.user._id"
                >
                  Move To Bin
                </button>
                <button
                  (click)="addMemberDialog(project)"
                  mat-menu-item
                  [disabled]="project.owner._id != this.user._id"
                >
                  Add Member
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div (click)="openCreateDialog()" class="add_box">
    <div>+</div>
  </div>
</div>
