<div class="container">
  <div class="title">
    <div class="title-left">
      <div class="project-name">Create App</div>
      <div class="project-description">App Todolist</div>
    </div>
    <div class="title-right">
      <div class="date">
        <div>CREATE DATE</div>
        <div>30/2/2023</div>
      </div>
      <div class="date">
        <div>DUE DATE</div>
        <div>3/3/2023</div>
      </div>
      <div class="date">
        <div>TRACKED TIME</div>
        <div id="date">
          <div>2 days</div>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div
      class="col"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[progressList, doneList]"
      (cdkDropListDropped)="drop($event)"
      routerLink="/task"
    >
      <div class="col-header">
        <div class="dot1"></div>
        <div class="col-header-content">TO DO</div>
      </div>
      <div class="task-col" *ngFor="let task of todo; let i = index" cdkDrag>
        <div class="task-col-content">
          <div class="task-name">
            <div class="task-title">{{ task.title }}</div>
          </div>
          <div class="adjust">
            <div class="task-date">
              <div class="allMember" style="display: flex">
                <div class="allMember1">N</div>
                <div class="allMember2">N</div>
              </div>
              <div class="create-date">Create date: {{ task.startAt }}</div>
              <div class="deadline">Deadline: {{ task.deadline }}</div>
            </div>
            <div class="icon">
              <div class="star-icon">
                <span
                  [ngClass]="task.styles"
                  (click)="changeColor('yellow', i, todo)"
                >
                  star
                </span>
              </div>
              <div class="icon-box">
                <mat-icon id="icon-expand" [matMenuTriggerFor]="menu"
                  >expand_more</mat-icon
                >
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog2()">
                    Add member
                  </button>
                  <button mat-menu-item (click)="openUpdateDialog(task)">
                    Edit
                  </button>
                  <button mat-menu-item>Delete</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="task-col-create">
        <div (click)="openCreateDialog()" class="create-new">+</div>
      </div>
    </div>

    <div
      class="col"
      cdkDropList
      #progressList="cdkDropList"
      [cdkDropListData]="progress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="col-header">
        <div class="dot2"></div>
        <div class="col-header-content">IN PROGRESS</div>
      </div>
      <div
        class="task-col"
        *ngFor="let task of progress; let i = index"
        cdkDrag
      >
        <div class="task-col-content">
          <div class="task-name">
            <div class="task-title">{{ task.name }}</div>
          </div>
          <div class="adjust">
            <div class="task-date">
              <div class="allMember" style="display: flex">
                <div class="allMember1">N</div>
                <div class="allMember2">N</div>
              </div>
              <div class="create-date">Create date: {{ task.date }}</div>
              <div class="deadline">Deadline: {{ task.deadline }}</div>
            </div>
            <div class="icon">
              <div class="star-icon">
                <span
                  [ngClass]="task.styles"
                  (click)="changeColor('yellow', i, progress)"
                >
                  star
                </span>
              </div>
              <div class="icon-box">
                <mat-icon id="icon-expand" [matMenuTriggerFor]="menu"
                  >expand_more</mat-icon
                >
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog2()">
                    Add member
                  </button>
                  <button mat-menu-item (click)="openUpdateDialog(task)">
                    Edit
                  </button>
                  <button mat-menu-item>Delete</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="col"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, progressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="col-header">
        <div class="dot3"></div>
        <div class="col-header-content">DONE</div>
      </div>
      <div class="task-col" *ngFor="let task of done; let i = index" cdkDrag>
        <div class="task-col-content">
          <div class="task-name">
            <div class="task-title">{{ task.name }}</div>
          </div>
          <div class="adjust">
            <div class="task-date">
              <div class="allMember" style="display: flex">
                <div class="allMember1">N</div>
                <div class="allMember2">N</div>
              </div>
              <div class="create-date">Create date: {{ task.date }}</div>
              <div class="deadline">Deadline: {{ task.deadline }}</div>
            </div>
            <div class="icon">
              <div class="star-icon">
                <span
                  [ngClass]="task.styles"
                  (click)="changeColor('yellow', i, done)"
                >
                  star
                </span>
              </div>
              <div class="icon-box">
                <mat-icon id="icon-expand" [matMenuTriggerFor]="menu"
                  >expand_more</mat-icon
                >
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog2()">
                    Add member
                  </button>
                  <button mat-menu-item (click)="openUpdateDialog(task)">
                    Edit
                  </button>
                  <button mat-menu-item>Delete</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="new-col-header">
        <div class="create-new-col-header">Create new column</div>
        <button (click)="openDialog3()" class="create-new-col-header2">
          +
        </button>
      </div>
    </div>
  </div>
</div>
