<div class="container">
  <div class="title">
    <div class="title-left">
      <div class="project-name">{{(this.project$|async)?.project?.projectName}}</div>
      <div class="project-description">{{(this.project$|async)?.project?.projectDescription}}</div>
    </div>
    <div class="title-right">
      <div class="date">
        <div>CREATE DATE</div>
        <div>{{(this.project$|async)?.project?.startAt}}</div>
      </div>
      <div class="date">
        <div>DUE DATE</div>
        <div>{{(this.project$|async)?.project?.deadline}}</div>
      </div>
      <!-- <div class="date">
        <div>TRACKED TIME</div>
        <div id="date">
          <div>2 days</div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="body">
    <div class="col" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="['cdk-drop-list-2', 'cdk-drop-list-1']" (cdkDropListDropped)="drop($event)">
      <div class="col-header">
        <div class="dot1"></div>
        <div class="col-header-content">TO DO</div>
      </div>
      <div class="task-col" *ngFor="let task of this.tasks; let i = index" cdkDrag>
        <div class="task-col-content" (mousedown)="setTask(task)" *ngIf="task.status === 'todo'">
          <div class="task-name">
            <div class="task-title">{{ task.title }}</div>
          </div>
          <div class="adjust">
            <div class="task-date">
              <div class="allMember" style="display: flex">
                <div class="allMember1" *ngFor="let user of task.assignees">{{user.displayName}}</div>
              </div>
              <div class="create-date">Create date: {{ task.startAt }}</div>
              <div class="deadline">Deadline: {{ task.deadline }}</div>
            </div>
            <div class="icon">
              <div class="star-icon">
                <span class="material-symbols-rounded" [ngClass]="task.styles" (click)="changeColor('yellow', i, todo)">
                  star
                </span>
              </div>
              <div class="icon-box">
                <mat-icon id="icon-expand" [matMenuTriggerFor]="menu">expand_more</mat-icon>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openUpdateDialog(task)">
                    Edit
                  </button>
                  <button mat-menu-item (click)="deleteTask(this.task.id)">Delete</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="task-col-create">
        <div (click)="openCreateDialog()" class="create-new">+</div>
      </div>
    </div>

    <div class="col" cdkDropList #progressList="cdkDropList" [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="['cdk-drop-list-2', 'cdk-drop-list-0']" (cdkDropListDropped)="drop($event)">
      <div class="col-header">
        <div class="dot2"></div>
        <div class="col-header-content">IN PROGRESS</div>
      </div>
      <div class="task-col" *ngFor="let task of this.tasks; let i = index" cdkDrag>
        <div class="task-col-content" (mousedown)="setTask(task)" *ngIf="task.status === 'doing'">
          <div class="task-name">
            <div class="task-title">{{ task.title }}</div>
          </div>
          <div class="adjust">
            <div class="task-date">
              <div class="allMember" style="display: flex">
                <div class="allMember1" *ngFor="let user of task.assignees">{{user.displayName}}</div>
              </div>
              <div class="create-date">Create date: {{ task.startAt }}</div>
              <div class="deadline">Deadline: {{ task.deadline }}</div>
            </div>
            <div class="icon">
              <div class="star-icon">
                <span class="material-symbols-rounded" [ngClass]="task.styles" (click)="changeColor('yellow', i, todo)">
                  star
                </span>
              </div>
              <div class="icon-box">
                <mat-icon id="icon-expand" [matMenuTriggerFor]="menu">expand_more</mat-icon>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openUpdateDialog(task)">
                    Edit
                  </button>
                  <button mat-menu-item (click)="deleteTask(this.task.id)">Delete</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
      [cdkDropListConnectedTo]="['cdk-drop-list-0', 'cdk-drop-list-1']" (cdkDropListDropped)="drop($event)">
      <div class="col-header">
        <div class="dot3"></div>
        <div class="col-header-content">DONE</div>
      </div>
      <div class="task-col" *ngFor="let task of this.tasks; let i = index" cdkDrag>
        <div class="task-col-content" (mousedown)="setTask(task)" *ngIf="task.status === 'done'">
          <div class="task-name">
            <div class="task-title">{{ task.title }}</div>
          </div>
          <div class="adjust">
            <div class="task-date">
              <div class="allMember" style="display: flex">
                <div class="allMember1" *ngFor="let user of task.assignees">{{user.displayName}}</div>
              </div>
              <div class="create-date">Create date: {{ task.startAt }}</div>
              <div class="deadline">Deadline: {{ task.deadline }}</div>
            </div>
            <div class="icon">
              <div class="star-icon">
                <span class="material-symbols-rounded" [ngClass]="task.styles" (click)="changeColor('yellow', i, todo)">
                  star
                </span>
              </div>
              <div class="icon-box">
                <mat-icon id="icon-expand" [matMenuTriggerFor]="menu">expand_more</mat-icon>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openUpdateDialog(task)">
                    Edit
                  </button>
                  <button mat-menu-item (click)="deleteTask(this.task.id)">Delete</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
