.title {
  height: 20%;
  width: 100%;
  padding: auto;
  background-color: rgba($color: #FFB93F, $alpha: 0.2);
  display: flex;
  justify-content: space-between;
}

.body {
  height: 70%;

}

.title-left {
  margin: auto 50px;
}

.project-name {
  color: #FFB93F;
  font-size: 30px;
}

.project-description {
  margin-top: 10px;
}

.title-right {
  width: 300px;
  display: flex;
  align-items: center;
}

.date {
  margin-left: 3%;
}

#date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.body {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .col {
    width: 20%;



    .col-header {
      border-radius: 8px;
      background-color: #EDEDED;
      border: 1px solid #FFFFFF;
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 100%;
      min-height: 7%;
      align-items: center;

      .dot1 {
        margin-left: 15px;
        background-color: #26bdff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #000000;
        box-shadow: 1px 1px #888888;
      }

      .dot2 {
        margin-left: 15px;
        background-color: #efec39;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #000000;
        box-shadow: 1px 1px #888888;
      }

      .dot3 {
        margin-left: 15px;
        background-color: #09f289;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #000000;
        box-shadow: 1px 1px #888888;
      }
    }

    .task-col {
      border: 1px solid #D7D7D7;
      background-color: #FAFAFA;
      margin-top: 7%;
      border-radius: 10px;
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: rgba($color: #ffb93f, $alpha: 1);

      .task-col-content {
        padding: 10px;
        width: 95%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .task-name {
          font-weight: 600;
          width: 95%;
          height: fit-content;
          display: flex;
          flex-wrap: wrap;
        }

        .allMember {
          margin: 20% 0 10% 0;
        }

        .allMember1 {
          color: white;
          width: 35px;
          height: 35px;
          background-color: #299b67;
          border-radius: 17.5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .allMember2 {
          margin-left: -15px;
          color: white;
          width: 35px;
          height: 35px;
          background-color: rgb(112, 41, 41);
          border-radius: 17.5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .create-date {
          display: flex;
        }

        .adjust {
          align-items: flex-end;
          display: flex;
          justify-content: space-between;
        }


        .star-icon {
          align-items: center;
        }

        .star-icon:hover {
          cursor: pointer;
        }

        .icon {
          font-size: x-small;
          display: flex;
        }


        .yellow {
          color: #FCE80A;
          font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48,
        }


        .deadline {
          color: #FF544F;
        }

        .task-title {
          color: #FFB93F;
          font-size: large;
        }

        #icon-expand {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #icon-expand:hover {
          background-color: #D7D7D7;
        }

        .icon-box {
          margin-top: 7%;
        }

      }

      .col-header-create {
        border-radius: 8px;
        background-color: #EDEDED;
        border: 1px solid #FFFFFF;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 100%;
        min-height: 5%;
        align-items: center;
      }

    }

    .task-col-create {
      padding: 10px 10px;
      border: dashed 2px #D7D7D7;
      background-color: #FAFAFA;
      margin-top: 7%;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      border-color: rgba($color: #ffb93f, $alpha: 1);

    }

    .create-new {
      color: #FFB93F;
      font-size: xx-large;
      display: flex;
      justify-content: center;
      min-width: 100%;
      min-height: 140px;
      align-items: center;
    }

    .create-new-col-header {
      color: black;
      display: flex;
      margin-left: 5%;
    }

    .create-new-col-header2 {
      font-size: large;
      color: black;
      display: flex;
      margin-right: 3%;
      width: 25px;
      display: flex;
      justify-content: center;
      background-color: white;
      border-radius: 5px;
    }

    .create-new-col-header2:hover {
      cursor: pointer;
      background-color: #D7D7D7;
    }

    .create-new-col-header2:hover {
      animation: spin 1s;
    }

    .new-col-header {
      display: flex;
      min-width: 100%;
      min-height: 7%;
      align-items: center;
      border-radius: 8px;
      background-color: #EDEDED;
      border: 1px solid #FFFFFF;
      margin-top: 5%;
      justify-content: space-between;
    }
  }
}

.task-col:hover {
  animation: identifier 1s infinite;
}

.task-col-create:hover {
  box-shadow: 5px 8px #D7D7D7;
  cursor: pointer;
}

.cdk-drag-preview {
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  background-color: #FAFAFA;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  .allMember {
    margin: 20% 0 10% 0;
  }

  .allMember1 {
    color: white;
    width: 35px;
    height: 35px;
    background-color: #299b67;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .allMember2 {
    margin-left: -15px;
    color: white;
    width: 35px;
    height: 35px;
    background-color: rgb(112, 41, 41);
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .task-col {
  //   border: 1px solid #D7D7D7;
  //   background-color: #FAFAFA;
  //   margin-top: 7%;
  //   border-radius: 10px;
  //   width: 100%;
  //   height: 140px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-color: rgba($color: #ffb93f, $alpha: 1);

  .task-col-content {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .task-name {
      width: 95%;
      display: flex;
      flex-wrap: wrap;
    }

    .yellow {
      color: #FCE80A;
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48,
    }

    .create-date {
      display: flex;
    }

    .adjust {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
    }

    // .task-date{

    // }

    .star-icon {
      align-items: center;
    }

    .icon {
      font-size: x-small;
      display: flex;
    }

    .deadline {
      color: #FF544F;
    }

    .task-title {
      color: #FFB93F;
      font-size: large;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-col:last-child {
  border-color: rgba($color: #ffb93f, $alpha: 1);
}


.container {
  height: 100%;
  width: 100%;

}

.title-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 185, 63, 0.2);
}

.col-header-content {
  margin-left: 10px;
}

@keyframes identifier {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 185, 63, 0.7);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(255, 185, 63, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
