<div class="container">
  <div class="header">Edit task</div>
  <div class="footer">
    <div class="input">
      <mat-form-field class="project_name">
        <mat-label>Task name</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    </div>
    <div class="input">
      <mat-form-field class="add_member">
        <mat-label>Add member</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    </div>
    <!-- <div class="input">
      <mat-form-field class="description">
        <mat-label>Description</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>
    </div> -->
    <div class="date">
      <div class="date_container">
        <mat-form-field class="start_at">
          <mat-label>Start at</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="date_container">
        <mat-form-field class="deadline">
          <mat-label>Deadline</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="btn_container">
      <div>
        <button class="button">CREATE</button>
      </div>
    </div>
  </div>
</div>