<div class="container">
  <div class="header">New project</div>
  <div class="footer">
    <div class="input">
      <mat-form-field class="project_name" appearance="fill">
        <mat-label>Project name</mat-label>
        <input [(ngModel)]="name" matInput placeholder="" value="">
      </mat-form-field>
    </div>

    <div id="host">Host's project:</div>
    <mat-card class="example-card">
      <mat-card-header class="example-card-header">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba</mat-card-title>
        <mat-card-subtitle>shiba@gmail.com</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <div class="input">
      <mat-form-field class="description" appearance="fill">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="description" matInput placeholder="" value="">
      </mat-form-field>
    </div>

    <div class="date">
      <div class="date_container">
        <mat-form-field class="start_at" appearance="fill">
          <mat-label>Start at</mat-label>
          <input [(ngModel)]="startAt" matInput [matDatepicker]="pickerStart">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart [calendarHeaderComponent]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="date_container">
        <mat-form-field class="deadline" appearance="fill">
          <mat-label>Deadline</mat-label>
          <input [(ngModel)]="deadline" matInput [matDatepicker]="pickerDeadline">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerDeadline"></mat-datepicker-toggle>
          <mat-datepicker #pickerDeadline [calendarHeaderComponent]="deadlineDate"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="btn_container">
      <div>
        <button (click)="create()" class="button">CREATE</button>
      </div>
    </div>
  </div>
</div>