<div class="container">
    <br>
        <div class="mdc-card mini-card mdc-elevation--z4">
            <div class="mdc-card__primary-action">
              <div class="media-image mdc-card__media mdc-card__media--square">
                <div class="mdc-card__media-content">
                  <div class="card-info">
                        <h1>Project Name</h1>
                        <h2>Inivite by:</h2>
                    <div style="display: flex; margin: 0 15px">
                        <button mat-raised-button color="primary">Accept</button>
                        <hr style="margin: 0 5px; background-color: #dbdbdb;">
                        <button mat-raised-button color="warn">Decline</button>
                    </div>
                    
                    <h3>Task Time</h3>
                  </div>
                </div>
              </div>
            </div>
    </div>
    
  <br>
  <div class="mdc-card mini-card mdc-elevation--z4">
    <div class="mdc-card__primary-action">
      <div class="media-image mdc-card__media mdc-card__media--square">
        <div class="mdc-card__media-content">
          <div class="card-info">
                <h1>Project Name</h1>
                <h2>Inivite by:</h2>
            <div style="display: flex; margin: 0 15px">
                <button mat-raised-button color="primary">Accept</button>
                <hr style="margin: 0 5px; background-color: #dbdbdb;">
                <button mat-raised-button color="warn">Decline</button>
            </div>
            
            <h3>Task Time</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="mdc-card mini-card mdc-elevation--z4">
    <div class="mdc-card__primary-action">
      <div class="media-image mdc-card__media mdc-card__media--square">
        <div class="mdc-card__media-content">
          <div class="card-info">
                <h1>Project Name</h1>
                <h2>Inivite by:</h2>
            <div style="display: flex; margin: 0 15px">
                <button mat-raised-button color="primary">Accept</button>
                <hr style="margin: 0 5px; background-color: #dbdbdb;">
                <button mat-raised-button color="warn">Decline</button>
            </div>
            
            <h3>Task Time</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  
</div>
