<div class="page-container">
  <div class="header-container">
    <div class="header">
      <img id="heading" src="../../../assets/Logo.png" alt="" />
      <p id="slogan">the more clearly, the more quickly</p>
      <h1 id="todo">To Do list</h1>

      <div class="btn-container">
        <button class="btn">
          <img id="gg-img" src="../../../assets/google.png" alt="" />
          <p class="login">Login with Google</p>
        </button>
      </div>
    </div>
    <img id="img" src="../../../assets/big-img.png" alt="" />
  </div>

  <div class="footer-container">
    <div class="content">
      <div class="ins">Your Go-to resource to plan your idea</div>
      <div class="ins" class="color-word">
        There are many interesting features waiting for you to discover
      </div>
    </div>

    <div class="line2">
      <img class="task" src="../../../assets/task.png" alt="" />
      <div class="line3">to make a perfect project for your team!</div>
      <img class="task" src="../../../assets/planner.png" alt="" />
    </div>
  </div>
</div>
