<!-- <div class="wrapper">
  <div class="loader"></div>
</div> -->
<div class="page-container">
    <div class="header-container">
          <div class="header">
            <img id="heading" src="../../../assets/logo-white.png" alt="">
            <p id="slogan">The more clearly, the more quickly</p>
            <p id="todo">To Do list</p>

          <div class="btn-container"  >
            <button  class="btn" (click)="login()">
              <img id="gg-img" src="../../../assets/google.png" alt="">
              <p class="login">Login with Google</p>
            </button>
          </div>
        </div>
          <img id="img" src="../../../assets/big-img.png" alt="">
    </div>

    <div class="footer-container">
        <div class="content">
            <div class="ins">
              <p class="ins">Your Go-to resource to plan your idea</p>
              <p class="color-word">There are many interesting features waiting for you to discover</p>
            </div>
        </div>

        <div class="line2">
          <img class="task" src="../../../assets/task.png" alt="">
          <div class="line3">
            <p class="color-word1">To make a perfect project for your team!</p>
          </div>
          <img class="task" src="../../../assets/planner.png" alt="">
        </div>
    </div>
</div>
