@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=PT+Sans:wght@400;700&family=Roboto+Mono:wght@100;500&display=swap');

html,body{
  padding: 0;
  margin: 0;

}

#todo{
  font-size: 5vh;
  font-weight: 700;
}

*{
  font-family: 'PT Sans', sans-serif;
  color: white;
  line-height: normal;
}


.page-container{
  height: 100vh;
  width: 100vw;
}

.header-container{
  height: fit-content;
  background-image: url('../../../assets/bg-img.jpg');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px 0px rgb(119, 119, 119) ;
}


.header{
  margin: 1vh 0 0 10vh;
  font-size: 4vh;
}

.footer-container{
  background-color: white;
  width: 100vw;
  height: 30vh;
  padding:0;
  display: flex;
  justify-content: space-between;
  // box-shadow: 0 0 32px  #534B4B inset;

}
#img{
  height: 67vh;
  width :30%;
  margin-right: 10vw;
}


#slogan{
  margin: 30px 0 0 0;
}

.btn{
  margin-top: 30px;
  color: black !important;
  padding: 3vh 5vh 2vh 5vh;
  width: 35vh;
  height: 10vh;
  border-radius: 2vh;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}
.btn:hover{
  background-color: #26BDFF;
  color: white !important;
  border: #26BDFF 5px solid;
  transition:linear 0.1s;
  p.login{
    color: white !important;
  }
}

.btn:active{
  background-color: #2897c7;
  color: white !important;
  transition:linear 0.1s;
}
.btn-container{
  margin-top: 5vh;
}

.content{
  width: 50vw;
  margin-top: 6vh;
  text-align: left;
  color: #26BDFF !important;
  margin-left: 10vh;
  font-size: 2vh;

}

.ins{
  color: black !important;
  font-size: 3vh;
  font-weight: 700;
  margin: 0 0 3vh 0;
  width: 56%;
  p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 3vh;
    width: 56%;
  }
}
.color-word{
  color: #a79a29 !important;
  font-weight: 500;
  font-size: 2vh;
}
.color-word1{
  color: #a79a29 !important;
  font-weight: 500;
  font-size: 2vh;
}

#slogan{
  margin-top: 10px;
  margin-bottom: 30px;
  color: white !important;

}

#gg-img{
  width: 2vh;
  height: 2vh;
  margin-right: 1vh ;
  margin-bottom: 4px;
}

.login{
  margin-top: 8px;
  font-size: 2vh;
  color: black;
  font-weight: 600;
}

#heading{
  height: 30vh;
  width: 15vw;
}

.line2{
  margin-right: 13%;
  margin-top: 6vh;
  color: #26BDFF !important;
  font-size: 2vh;
  border: 1px solid #09f289;
  border-radius: 3vh;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-content: center;
}

.task{
  width: 60px;
  height: 60px;
}
.line3{
  color: #26BDFF !important;
  font-size: 2vh;
  height: fit-content;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 45%;
}

// .wrapper{
//   position: fixed;
//   inset: 0;
//   z-index: 9999;
//   background-color: #fff;
//   display: grid;
//   place-items: center;
//   transition: opacity 0.25s, visibility 1s;

// }
// .fade{
//   opacity: 0;
//   visibility: hidden;
// }
