<div class="title-container">
  <div class="form">
    <div id="title">RECYCLE BIN</div>
    <div style="height: 10px"></div>
    <div id="description">All deleted projects here</div>
  </div>
  <div class="form">
    <mat-form-field class="selector" appearance="fill">
      <mat-label class="sort_by">SORT BY</mat-label>
      <mat-select>
        <mat-option value="option1" (click)="sortByAlphabet()" >Alphabet</mat-option>
        <mat-option value="option2">Date</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="project">
  <ng-container *ngFor="let project of (projects | async)">
    <div class="project_box" *ngIf="project.disable">
      <div class="project_title">
        <div class="project_name">{{project.projectName}}</div>
        <div class="project_description">{{project.projectDescription}}</div>
      </div>
      <div class="footer_box">
        <div class="date">
          <div class="create_date">Create Date: {{project.startAt}}</div>
          <div class="setting">
            <div class="deadline">Deadline: {{project.deadline}}</div>
            <div class="icon">
              <mat-icon class="expand-icon" [matMenuTriggerFor]="menu">expand_more</mat-icon>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="restoreProject(project)" >Restore</button>
                <button mat-menu-item>Delete</button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
